@page "/account/artisan/overview"
@inject NavigationService Navigator
@implements IDisposable
@inject IActionDispatcher ActionDispatcher
@inject ArtisanStore ArtisanStore
@inject ArtisanService ArtisanService
@inject AuthService AuthStateService
@layout ArtisanProfileLayout

<PageTitle>Profile Overview</PageTitle>


<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
	<!--begin::Card header-->
	<div class="card-header cursor-pointer">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bolder m-0">Profile Details</h3>
		</div>
		<!--end::Card title-->
		<!--begin::Action-->
		<a @onclick="Navigator.NavigateToArtisanProfileSettings" class="btn btn-primary align-self-center">Edit Profile</a>
		<!--end::Action-->
	</div>
	<!--begin::Card header-->
	<!--begin::Card body-->
	<div class="card-body p-9">
		<!--begin::Row-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Full Name</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bolder fs-6 text-gray-800">@UserName</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Company</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@BusinessName</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Contact Phone
			<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i></label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 d-flex align-items-center">
				<span class="fw-bolder fs-6 text-gray-800 me-2"><a href="tel:@Artisan?.User?.Contact?.PrimaryContact">
				@Artisan?.User?.Contact?.PrimaryContact</a></span>
				<span class="badge badge-success" disabled="@Artisan?.IsVerified">Verified</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Country
			<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i></label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bolder fs-6 text-gray-800">@Country</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Email</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bolder fs-6 text-gray-800"><a href="mailto:@EmailAddress">@EmailAddress</a></span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		
		<!--begin::Notice-->
		<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
			<!--begin::Icon-->
			<!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
			<span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black" />
					<rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black" />
					<rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black" />
				</svg>
			</span>
			<!--end::Svg Icon-->
			<!--end::Icon-->
			<!--begin::Wrapper-->
			<div class="d-flex flex-stack flex-grow-1">
				<!--begin::Content-->
				<div class="fw-bold">
					<h4 class="text-gray-900 fw-bolder">We need your attention!</h4>
					<div class="fs-6 text-gray-700">Your payment was declined. To start using tools, please
					<a class="fw-bolder" href="../../demo8/dist/account/billing.html">Add Payment Method</a>.</div>
				</div>
				<!--end::Content-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Notice-->
	</div>
	<!--end::Card body-->
</div>
<!--end::details View-->

@code {
	private ArtisanDto? Artisan { get; set; }
	private string? EmailAddress { get; set; }
	private string? BusinessName { get; set; }
	private string? UserName { get; set; }
	private string? StreetAddress { get; set; }
	private string? Phone { get; set; }
	private string? Country { get; set; }

	protected override async Task OnInitializedAsync()
	{

		var isLoggedIn = await AuthStateService.CheckAuthStatus();
		if (!isLoggedIn) return;
		ArtisanStore.AddStateChangeListener(UpdateView);
		Artisan = ArtisanStore.GetState().Artisan;
		InitializeProperties();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await GetArtisan();
			Artisan = ArtisanStore.GetState().Artisan;
			InitializeProperties();
			UpdateView();
		}
	}

	void InitializeProperties()
	{
		EmailAddress = Artisan?.User?.Contact?.EmailAddress ?? "";
		BusinessName = Artisan?.BusinessName ?? "";
		UserName = Artisan?.User?.DisplayName;
		StreetAddress = Artisan?.User?.Address?.StreetAddress ?? "";
		Country = Artisan?.User?.Address?.Country.ToString() ?? "";
		Phone = Artisan?.User?.Contact?.PrimaryContact ?? "";
	}

	private async Task GetArtisan()
	{
		await ActionDispatcher.Dispatch(new GetByUserIdAction());
	}

	private void UpdateView()
	{
		StateHasChanged();
	}

	public void Dispose()
	{
		ArtisanStore.RemoveStateChangeListener(UpdateView);
	}
}
