@page "/artisans/requests/{OrderId:int}"
@inject NavigationService Navigator
@inject OrderService OrderService
@inject AuthService AuthStateService
@inject NotificationService ToastService

<!--begin::details View-->
<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
	<!--begin::Card header-->
	<div class="card-header cursor-pointer">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bolder m-0">Order Details</h3>
		</div>
		<!--end::Card title-->
		<!--begin::Action-->
		<a @onclick="AcceptOrder" class="btn btn-primary align-self-center"
		   disabled="@IsLoading">Accept</a>
		<!--end::Action-->
	</div>
	<!--begin::Card header-->
	<!--begin::Card body-->
	<div class="card-body p-9">
		<!--begin::Row-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Customer Name</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bolder fs-6 text-gray-800">@Order?.Customer.User.DisplayName</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Description</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.Description</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
		
		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Preferred Start Date</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.PreferredStartDate.ToShortDateString()</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Preferred Completion Date</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.PreferredCompletionDate.ToShortDateString()</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Service</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 fv-row">
				<span class="fw-bold text-gray-800 fs-6">@Order?.Service.Name</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Contact Phone
			<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i></label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8 d-flex align-items-center">
				<a href="tel:@Order?.Customer.User.Contact?.PrimaryContact" class="fw-bolder fs-6 text-gray-800 me-2">
					@Order?.Customer.User.Contact?.PrimaryContact
				</a>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->

		<!--begin::Input group-->
		<div class="row mb-7">
			<!--begin::Label-->
			<label class="col-lg-4 fw-bold text-muted">Work Address</label>
			<!--end::Label-->
			<!--begin::Col-->
			<div class="col-lg-8">
				<span class="fw-bold fs-6 text-gray-800 text-hover-primary">@Order?.WorkAddress.Town, @Order?.WorkAddress.StreetAddress</span>
			</div>
			<!--end::Col-->
		</div>
		<!--end::Input group-->
	</div>
	<!--end::Card body-->
	
	<div class="card-footer">
		<!--begin::Action-->
		<a href="#" class="btn btn-danger align-self-center float-end" disabled="@IsLoading"
		   @onclick="UnassignArtisan">Decline</a>
	</div>
</div>
<!--end::details View-->

@code {
	[Parameter]
	public int OrderId { get; set; }
	bool IsLoading { get; set; }
	private OrderDto? Order { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		var isLoggedIn = await AuthStateService.CheckAuthStatus();
		if (!isLoggedIn) return;
		Order = await OrderService.GetAsync(OrderId);
	}

	async Task AcceptOrder()
	{
		DisableButtons(true);
		var response = await OrderService.Accept(OrderId);
		if (response.IsComplete)
		{
			DisableButtons(false);
			ToastService.SaveSuccess();
			Navigator.NavigateToArtisanSchedule();
			return;
		}

		DisableButtons(false);
		ToastService.SaveFailure();
	}

	async Task UnassignArtisan()
	{
		DisableButtons(true);
		var response = await OrderService.UnassignArtisan(OrderId);
		if (response.IsComplete)
		{
			ToastService.ShowUnassignArtisanSuccess();
			DisableButtons(false);
			return;
		}
		DisableButtons(false);
		ToastService.ShowUnassignArtisanFailure();
	}

	void DisableButtons(bool isLoading)
	{
		IsLoading = isLoading;
		StateHasChanged();
	}
}
