@page
@using AmpWasm
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Artisan Management Platform</title>
    <meta charset="utf-8">
    <meta name="description" content="An application that is designed to manage and help artisans perform
    all their daily professional activities.">
    <meta name="keywords" content="Artisan, artisan, AMP, amp, artisan management, artisan-management-platform,
    job request, artisan management platform">
    <meta name="author" content="Kofi Gyasi, kofigyasidev@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/media/xaml.ico"/>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
    <link href="AmpWasm.styles.css" rel="stylesheet" />
    @*
    <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered"/>
*@
</head>

<body>
    <component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
    <persist-component-state />
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>

    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="assets/js/custom/widgets.js"></script>
    <script src="assets/js/custom/apps/chat/chat.js"></script>
    <script src="assets/js/custom/modals/create-app.js"></script>
    <script src="assets/js/custom/modals/upgrade-plan.js"></script>

    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="assets/js/custom/pages/search/horizontal.js"></script>
    <script src="assets/js/custom/pages/projects/users/users.js"></script>
    <script src="assets/js/custom/apps/invoices/create.js"></script>
    <script src="assets/js/custom/apps/customers/add.js"></script>
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>
    <script src="assets/js/custom/authentication/sign-in/general.js"></script>
    <script src="assets/js/custom/authentication/sign-up/general.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="assets/js/custom/authentication/password-reset/password-reset.js"></script>
    <!--end::Page Custom Javascript-->
    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>

