@page "/payment/verify/{OrderId:int}"
@inject IPaymentService PaymentService
@inject NavigationService Navigator

<h3>Please wait while we verify your transaction...</h3><br/>
<p>You will be redirected once the process is done.</p>

@code {
    [Parameter]
    public int OrderId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "trxref")]
    public string? TrxRef { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "reference")]
    public string? Reference { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var verify = new VerifyPaymentCommand
        {
            Reference = Reference,
            TransactionReference = TrxRef
        };
        var verifyResponse = await PaymentService.VerifyTransaction(verify);
        if(verifyResponse == PaymentsService.VerifySuccessMessage) Navigator.NavigateToPayments();    
    }

}
