@page "/registration/{Phone}/{Code}"
@layout AuthLayout
@inject UserService UserService
@inject NavigationService Navigator
@inject NotificationService ToastService

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
	<!--begin::Authentication - Signup Welcome Message -->
	<div class="d-flex flex-column flex-column-fluid">
		<!--begin::Content-->
		<div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
			<!--begin::Logo-->
			<a @onclick="Navigator.NavigateToLanding" class="mb-10 pt-lg-10">
				<img alt="Logo" src="assets/media/xaml.ico" class="h-40px mb-5" />
			</a>
			<!--end::Logo-->
			<!--begin::Wrapper-->
			<div class="pt-lg-10 mb-10">
				@if (IsVerified == "success")
				{
					<!--begin::Logo-->
					<h1 class="fw-bolder fs-2qx text-gray-800 mb-7">Welcome to AMP</h1>
					<!--end::Logo-->
					<!--begin::Message-->
					<div class="fw-bold fs-3 text-muted mb-15">Your phone has been verified successfully.
						<br/>Proceed to log in.</div>
					<!--end::Message-->
					<!--begin::Action-->
					<div class="text-center">
						<a @onclick="Navigator.NavigateToLogin" class="btn btn-lg btn-primary fw-bolder">Go to Login</a>
					</div>
					<!--end::Action-->
				}
				else
				{
					<!--begin::Logo-->
					<h1 class="fw-bolder fs-2qx text-gray-800 mb-7">Verification failed!</h1>
					<!--end::Logo-->
					<!--begin::Message-->
					<div class="fw-bold fs-3 text-muted mb-15">Please register with your correct phone number
						<br/>and try again.</div>
					<!--end::Message-->
					<!--begin::Action-->
					<div class="text-center">
						<button @onclick="SendSms" class="btn btn-lg btn-primary fw-bolder" disabled="@IsLoading">
							Resend code
						</button>
					</div>
					<!--end::Action-->
				}
			</div>
			<!--end::Wrapper-->
			<!--begin::Illustration-->
			<div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(assets/media/17.png)"></div>
			<!--end::Illustration-->
		</div>
		<!--end::Content-->
		<!--begin::Footer-->
		<div class="d-flex flex-center flex-column-auto p-10">
			<!--begin::Links-->
			<div class="d-flex align-items-center fw-bold fs-6">
				<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
				<a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
				<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
			</div>
			<!--end::Links-->
		</div>
		<!--end::Footer-->
	</div>
	<!--end::Authentication - Signup Welcome Message-->
</div>
<!--end::Main-->

@code {
    [Parameter] public string Phone { get; set; }
    [Parameter] public string Code { get; set; }
    string IsVerified { get; set; }
	bool IsLoading { get; set; }

	protected override async Task OnInitializedAsync()
    {
        IsVerified = await UserService.Verify(Phone, Code);
    }
	
	async Task SendSms()
	{
		DisableButton(true);
		var response = await UserService.SendCode(Phone);
		if (response == "success")
		{
			ToastService.CodeSendSuccess();
			DisableButton(false);
			return;
		}
		
		ToastService.CodeSendFailure();
		DisableButton(false);
	}

	void DisableButton(bool isLoading)
	{
		IsLoading = isLoading;
		StateHasChanged();
	}
}