@using Microsoft.AspNetCore.Components.Web
@namespace AMP.UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Artisan Management Platform</title>
    <meta charset="utf-8">
    <meta name="description" content="An application that is designed to manage and help artisans perform
    all their daily professional activities.">
    <meta name="keywords" content="Artisan, artisan, AMP, amp, artisan management, artisan-management-platform,
    job request, artisan management platform">
    <meta name="author" content="Kofi Gyasi, kofigyasidev@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    @*
    <link href="AMP.UI.styles.css" rel="stylesheet" />
    *@
    <link rel="icon" type="image/x-icon" href="assets/media/xaml.ico"/>
    <base href="~/"/>
    <!--end::Global Stylesheets Bundle--><component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
    @RenderBody()
    <div id="blazor-error-ui">
        @*<environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.

            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </environment>*@
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        
    </div>

<!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/634377d854f06e12d89941e7/1gevoo9iv';
        s1.crossOrigin='*';
        s1.setAttribute('crossOrigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
