<div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
	<!--begin::Aside Toolbarl-->
	<div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
		<!--begin::User-->
		<LoginUserWidget />
		<!--end::User-->
		<!--begin::Aside search-->
		<QuickSearchWidget />
		<!--end::Aside search-->
		<!--end::Aside user-->
	</div>
	<!--end::Aside Toolbarl-->
	<!--begin::Aside menu-->
	<AsideMenuWidget />
	<!--end::Aside menu-->
	<!--begin::Footer-->
	<AsideFooterWidget />
	<!--end::Footer-->
</div>

@code{

	[Inject]
	public IJSRuntime JsRuntime { get; set; }
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{

		if (firstRender)
		{
			#region metronic js functionality methods
			await JsRuntime.InvokeVoidAsync("KTUtil.init");
			//await JsRuntime.InvokeVoidAsync("KTApp.init");
			await JsRuntime.InvokeVoidAsync("KTToggle.init");
			await JsRuntime.InvokeVoidAsync("KTSwapper.init");
			await JsRuntime.InvokeVoidAsync("KTDrawer.init");
			await JsRuntime.InvokeVoidAsync("KTSticky.init");
			await JsRuntime.InvokeVoidAsync("KTScrolltop.init");
			await JsRuntime.InvokeVoidAsync("KTScroll.init");
			await JsRuntime.InvokeVoidAsync("KTPasswordMeter.init");
			await JsRuntime.InvokeVoidAsync("KTDialer.init");
			await JsRuntime.InvokeVoidAsync("KTImageInput.init");
			//await JsRuntime.InvokeVoidAsync("KTLayoutSearch.init");
			await JsRuntime.InvokeVoidAsync("KTLayoutExplore.init");
			await JsRuntime.InvokeVoidAsync("KTLayoutAside.init");
			//await JsRuntime.InvokeVoidAsync("KTLayoutToolbar.init");
			await JsRuntime.InvokeVoidAsync("KTMenu.init");
			#endregion
		}


	}


}
